html {
  scroll-behavior: smooth;
}

body {
  font-family: Manrope, Courier, monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.03em;
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Начало меню */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-left: 125px;
  margin-bottom: 70px;
  width: 1150px;
  position: relative; /* Позволяет меню позиционироваться относительно родителя */
}

.menu {
  display: flex; /* По умолчанию меню будет видно на десктопе */
  gap: 60px;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: #121212;
}

.menu a:hover {
  color: #007bff;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Мобильные стили */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    text-align: center;
  }
  .menu a {
    display: block;
    margin: 10px 0;
  }
  .hamburger {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
  .menu.active {
    display: flex;
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
  }
  .menu a {
    display: block;
    margin: 10px 0;
  }
  .hamburger {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
  .menu.active {
    display: flex;
  }
}
/* Конец меню */

/* Начало шапки */
.title {
  width: 956px;
  height: 120px;
  line-height: 60px;
  font-size: 60px;
  margin-left: 125px;
  margin-bottom: 30px;
}

.about-us {
  font-size: 18px;
  margin-bottom: 30px;
}

.block-main-container {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url(./resources/Rectangle1.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 150px;
  margin-left: 125px;
}

.text-container {
  width: 430px;
  color: white;
  padding: 379px 40px;
  font-size: 20px;
}
@media (max-width: 768px) {
  .title {
    font-size: 40px;
    margin-left: 20px;
    width: 100%;
  }
  .block-main-container {
    height: 300px;
  }
  .text-container {
    padding: 220px 10px;
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 30px;
    margin-left: 10px;
    width: 100%;
  }
  .block-main-container {
    height: 250px;
  }
  .text-container {
    padding: 150px 10px;
    font-size: 14px;
  }
}
/* Конец шапки */

/* Начало о компании */
.header-container {
  margin-bottom: 150px;
  margin-left: 125px;
  width: 1051px;
  height: 518px;
}

.about-text {
  width: 1048px;
  height: 366px;
  font-size: 45px;
  margin-bottom: 100px;
  line-height: 61px;
}

.btn {
  width: 255px;
  height: 67px;
  color: white;
  background-color: #ad1818;
  border-radius: 5px;
  padding: 20px 40px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: #007bff;
}
@media (max-width: 768px) {
  .about-text {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .btn {
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 576px) {
  .about-text {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .btn {
    width: 130px;
    height: 35px;
  }
}
/* Конец о компании */

/* Начало проекты */
.first-section {
  margin-bottom: 150px;
  margin-left: 125px;
}

.section {
  margin-bottom: 90px;
  padding: 0 10px;
}

.img-section {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-bottom: 15px;
}

.text-section {
  font-size: 30px;
  margin-bottom: 15px;
}

.details-section {
  font-size: 20px;
  color: #ad1818;
  text-decoration: none;
}

.btn-section {
  width: 100%;
  max-width: 1150px;
  height: 153px;
  font-size: 30px;
  color: #ad1818;
  background-color: white;
  border: 1px solid #ad1818;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-section:hover {
  background-color: #bbc6d1;
  border-color: darkred;
}
/* Конец проекты */

/* Начало услуги */
.overlay-container {
  position: relative;
  width: 100%;
  height: 1844px;
  background-color: black;
  margin: 150px auto 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.inner-container {
  margin-left: 125px;
}

.block-services__h2 {
  margin-bottom: 30px;
  color: #f5f5f5;
}

.block-services-element {
  display: block;
  width: 1150px;
  margin-bottom: 60px;
  text-decoration: none;
  color: #f5f5f5;
}

.block-services-element img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.block-services-element__title {
  margin-top: 15px;
  font-size: 30px;
  line-height: 41px;
  color: #f5f5f5;
}
/* Конец услуги */

/* Начало под услуги */
.full-screen-img {
  height: 717px;
  background-image: url(./resources/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 150px;
}

.full-screen-text {
  width: 443px;
  height: 82px;
  color: white;
  font-size: 30px;
  padding: 575px 125px;
}
/* Конец под услуги */

.icon {
  margin-left: 125px;
  margin-bottom: 12px;
}

.contacts {
  width: 473px;
  margin-left: 125px;
  margin-bottom: 150px;
}

.contact-text {
  font-size: 18px;
  color: #121212;
  margin-bottom: 32px;
}

.display-adress {
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 60px;
  color: #121212;
  text-decoration: none;
  margin-bottom: 30px;
}

.email {
  font-size: 60px;
  color: #121212;
  opacity: 0.5;
  text-decoration: none;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.info-contacts {
  height: 229px;
  background-color: #121212;
}

.menu-info {
  font-size: 18px;
  padding: 60px 0 87px 0;
  display: flex;
  gap: 60px;
  margin-left: 470px;
}

.menu-info a {
  text-decoration: none;
  color: #ffff;
}

.menu-info a:hover {
  color: #007bff;
}

.info-text {
  font-size: 20px;
  text-align: center;
  color: #ffff;
  opacity: 50%;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
  .navbar,
  .block-main-container,
  .header-container,
  .inner-container,
  .first-section,
  .img-section,
  .btn-section,
  .icon,
  .contacts {
    margin-left: 50px;
    width: auto;
  }

  .block-services-element {
    width: 100%;
  }

  .menu-info {
    margin-left: 0;
  }

  .title {
    font-size: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 25px;
  }

  .menu {
    gap: 20px;
  }

  .menu a {
    font-size: 16px;
  }

  .block-services-element {
    width: auto;
    margin-bottom: 40px;
  }

  .block-main-container {
    height: 400px;
  }

  .about-text {
    font-size: 35px;
    line-height: 50px;
  }

  .text-container {
    padding: 300px 20px;
  }

  .btn {
    width: 200px;
    height: 50px;
  }

  .text-section {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .block-services-element {
    width: 100%;
    margin-bottom: 30px;
  }
  .block-services-element__title {
    font-size: 18px;
  }
  .first-section {
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .block-services-element__title {
    font-size: 16px;
  }
  .text-container {
    padding: 150px 10px;
    font-size: 14px;
  }
  .about-text {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .text-section {
    font-size: 20px;
  }
  .block-services-element {
    width: 100%;
    margin-bottom: 20px;
  }
  .first-section {
    margin-bottom: 80px;
  }
}
